body{
    background-color: rgb(42, 29, 66);
}

.painel{
    margin: auto;
    background-color: rgb(240, 212, 176);
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-box-shadow: 5px 5px 0px 2px orange; 
    box-shadow: 5px 5px 0px 2px orange;
}
#sim{
    height: 40px;
    width: 60px;
    background-color: rgb(42, 29, 66);
    border: 2px solid white;
    border-radius: 18px;
    color: white;
    margin-left: -50px;
}
#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: rgb(42, 29, 66);
    border: 2px solid white;
    border-radius: 18px;
    color: white;
    margin-left: 10px;
}